# Default ignored files
/shelf/
/workspace.xml

# Intellij files
/.idea/
/out/

# Misc
/src/main/java/examples/

# Maven files
/target/classes/
/target/generated-sources/
/target/maven-archiver/
/target/maven-status/